@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"><b>Acesso Probido.</b>Está a ir por caminhos perigosos. É bom que saia</p>
</header>
