@model IEnumerable<MidgetBee.Models.Animes>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/AnimesView.css" />
</head>

<body>

    @foreach (var item in Model) {

        <div class="Anime">
            <a asp-action="Details" asp-route-id="@item.IdAnime">
                <img class="fotoAnime" src="~/fotos/@Html.DisplayFor(modelItem => item.Fotografia)" />

                <div class="overlay">
                    <div class="text">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </div>
                </div>
            </a>
        </div>
    }
</body>