@model IEnumerable<MidgetBee.Models.Animes>

@{
    ViewData["Title"] = "Index";
}

<head style="background-color: lightgrey;">
    <link rel="stylesheet" href="~/css/AnimesView.css" />
</head>

<body style="background-color: lightgrey;">
    @*Para cada anime vai entrar dentro do for*@
    @foreach (var item in Model) {
        @*cada anime vai ter o seu próprio div*@
        <div class="Anime">
            @*Caso o user clique o razor envia para a página dos Details do Anime em questão*@
            <a asp-action="Details" asp-route-id="@item.IdAnime">
                @*Coloca a foto do anime*@
                <img class="fotoAnime" src="~/fotos/@Html.DisplayFor(modelItem => item.Fotografia)" />

                

                @*div para ajudar a fazer o hover e tornar a página mais apresentável*@
                <div class="overlay">
                    <div class="text">
                        @*Coloca o texto no meio do div*@
                        @Html.DisplayFor(modelItem => item.Nome)
                    </div>
                </div>
            </a>
        </div>
    }
</body>
