@model MidgetBee.Models.Favoritos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Favoritos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFavoritos" />
            <div class="form-group">
                <label asp-for="UsersFK" class="control-label"></label>
                <select asp-for="UsersFK" class="form-control" asp-items="ViewBag.UsersFK"></select>
                <span asp-validation-for="UsersFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimeFK" class="control-label"></label>
                <select asp-for="AnimeFK" class="form-control" asp-items="ViewBag.AnimeFK"></select>
                <span asp-validation-for="AnimeFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

