@model IEnumerable<MidgetBee.Models.Favoritos>

@{
    ViewData["Title"] = "Index";
}

<h1>Favoritos</h1>
@if (User.IsInRole("Admin")) {
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anime.Fotografia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            if (item.Utilizador.Email == User.Identity.Name) {
                <tr>
                    <td>
                        <img style="width: 200px; height: 250px; border: 4px solid black; object-fit: fill;" src="~/fotos/@Html.DisplayFor(modelItem => item.Anime.Fotografia)" alt="Foto Anime" />
                    </td>
                    @if (User.IsInRole("Admin")) {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdFavoritos">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.IdFavoritos">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdFavoritos">Delete</a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
